.footer__button {
  padding: 1em 4em;
  font-size: 1em;
  border-radius: 10px;
  color: #ffff;
  text-transform: capitalize;
  text-align: center;
  background-color: #596d48;
  border: 1px solid #ccc;
  margin-bottom: 2em;
}

.footer__button:hover {
  background-color: #ffff;
  border: 1px solid #596d48;
  color: #596d48;
}

.form-login__text {
  color: #ffff;
}

.form-login__link {
  padding: 5px 0;
  color: #ffff;
  font-weight: 700;
}

.form-login__link:hover {
  color: pink;
}
