@import url(./sidebar.css);
@import url(./header.css);
@import url(./footer.css);

body {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 30% 1fr;
  height: 100vh;
  margin: 0;
}

.main {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
}

.sidebar {
  background-image: url("../../images/diego-ph-fIq0tET6llw-unsplash.jpg");
  background-size: cover;

  background-position: center;
  background-repeat: no-repeat;
  grid-area: sidebar;
  padding-top: 30%;
}

.header {
  grid-area: header;
  padding: 3em;
  background: rgb(66, 163, 192);
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  padding: 3em;
  background-color: rgb(66, 163, 192);
}
