.sidebar__container {
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1.5em;
}

.sidebar__icon {
  stroke: pink;
  stroke-width: 2px;
  width: max(60px, 2em);
}

.sidebar__title {
  font-family: "Shadows Into Light Two", cursive;
  margin-left: 10px;
  font-size: 2em;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .sidebar__title {
    margin-left: 0;
    font-size: 1em;
    transform: rotate(-90deg);
  }
}
